<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/jass.css">
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2 bg-info">
            <nav>
                {{#if logged_in}}
                <a href="/" class="text-white">Home</a>
                <a href="/dashboard" class="text-white">Dashboard</a>
                <button class="no-button" id="logout">Logout</button>
                {{else}}
                <a href="/" class="text-white ml-3">Home</a>
                <a href="/login" class="text-white ml-3">Login</a>
                {{/if}}
            </nav>
            <h1 class="blog-title title" class="text-light">The Tech Blog</h1>
        </header>
        <main class="container container-fluid mt-5">
            {{{ body }}}
        </main>
        <footer>

        </footer>
    </div>

</body>
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

</html>